.container {
  width: 90%;
  margin: 0 auto;
}

.full {
  &-height {
    height: 100vh;
  }
  &-width {
    width: 100%;
  }
}

.display {
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align {
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}

.mb {
  &-5 {
    margin-bottom: 5%;
  }
}

.ml {
  &-2 {
    margin-left: 2%;
  }
}

.mr {
  &-4 {
    
  }
}

.shadow {
  &-5 {
    box-shadow: 0 0 25px #ffb9c9;
  }
}


// responsive

@media (max-width: 400px) {
  .hidden-xs {
    display: none;
  }
}
