.bg-img {
  background-image: url("../../assets/bg-salon.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.card {
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 500px; }

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn-primary {
  height: 50px;
  width: 150px;
  background-color: #29c3b5;
  font-weight: 600;
  color: #fff;
  border-radius: 4px; }
  .btn-primary:hover {
    cursor: pointer;
    opacity: 0.9; }

.btn-transparent {
  background-color: transparent;
  transition: 0.2s linear; }
  .btn-transparent:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s linear; }

.btn-loading {
  background-color: #f86988;
  transition: 0.1s linear; }

input[TYPE="text"],
input[TYPE="password"] {
  height: 50px;
  border-radius: 6px;
  padding-left: 20px;
  background-color: #f2f2f2;
  font-weight: 400;
  border: 1px solid #d3d3d3;
  font-weight: 600;
  transition: 0.2s linear; }
  input[TYPE="text"]:focus,
  input[TYPE="password"]:focus {
    color: #000;
    font-weight: 700; }

.input-error {
  border: 1px solid #af1c21 !important;
  color: #af1c21 !important;
  font-weight: 800 !important;
  transition: 0.2s linear; }

.custom-checkbox {
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .custom-checkbox input {
    position: absolute;
    top: 0;
    opacity: 10;
    cursor: pointer;
    width: 0;
    height: 0; }
  .custom-checkbox label {
    margin-right: 30px; }
    .custom-checkbox label:hover {
      cursor: pointer; }
  .custom-checkbox .checkmark {
    position: absolute;
    top: -3px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #f2f2f2;
    border-radius: 30px; }
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #eee;
    transition: 0.1s linear; }

.custom-checkbox input:checked ~ .checkmark {
  background-color: #ff728a;
  transition: 0.1s linear; }

.custom-checkbox input:checked ~ label {
  color: #ff728a; }

.toast {
  position: fixed;
  bottom: 0px;
  width: 350px;
  margin-left: 30px;
  background-color: #fff;
  padding: 20px;
  transition: 0.2s linear;
  opacity: 10;
  border-radius: 6px; }
  .toast p {
    font-weight: 700; }

.hide {
  position: fixed;
  bottom: -40px;
  opacity: 0; }

.danger {
  color: #fff;
  background-color: #af1c21; }
