* {
  margin: 0px;
  padding: 0px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background-image: url("../../assets/bg-salon.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

input,
label,
p,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border: none; }
  input:active,
  label:active,
  p:active,
  button:active {
    outline: 0; }
  input:focus,
  label:focus,
  p:focus,
  button:focus {
    outline: 0; }

ul {
  list-style: none; }
